

body {
    font-family: Lato;
}

h1 {
    font-family: "Arvo";
    font-size:50px;
    color: black;
    margin: 0px;
}
.info{
    margin-left: 20px;
}
.tile {
    stroke: #FFF;
    stroke-width: 4;
}


.categorytext, .quantitytext, .headertext{
    text-anchor:middle;
    font-size: 14px;
    fill: #f2f3f4;
    stroke-width: 0.1px;
}

.headertext {
    font-weight: bold;
}

.yeartext, .brushtext{
    text-anchor:middle;
    font-size: 24px;
    fill: #565656;
    stroke-width: 0.1px;
    /*stroke: #e5e5e5;*/
}

.end{
    text-anchor:end;
}

.Axis{
    stroke: #eee;
    stroke-width: 4;
}
.content {
    display: inline-block;
    width: 70%;
}

.sideBar {
    display: inline-block;
    width: 30%;
    float:right;
}

.middlePoint{
    stroke: #eee;
}

.fullView{
    display: inline-block;
    width: 100%;
}

.yearChart{
    stroke: #FFF;
}

.lineChart{
    stroke: #A0A0A0;
    stroke-dasharray: 2,2;
}

.highlighted{
    stroke: #404040;;
    stroke-width:4;
}

.brush .selection {
    fill-opacity: .4;
    fill: #03396c;
}

.selected{
    stroke: #404040;;
    stroke-width:4;
    r:25px;
}

.themeStackSets{
    stroke: #eee;
}


h2{
    -webkit-margin-before: 5px;
    -webkit-margin-after:  5px;
}
.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    border-style: groove;
    /*padding: 12px;*/
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

.year-popup, .theme-popup, .nameTooltip{
    padding: 5px;
}

h3{
    text-anchor:middle;
    font-size: 32px;
}


#table {
    width: 500px;
    margin-right: 20px;
    float: left;

}

.view {
    padding: 0.5em;

}

.overviewCharts {
    padding: 0.5em;
    width: 100%;
}

.topChart {
    float:left;
    width: 33%;
}

.head {
  float: left;
  width: 19%;
  padding: 5px;
}

.head-img {
    width: 50%;
    margin: 0 auto;
}

.head-title {
    text-align: center;
    width: 99%;
    margin: 0 auto;
    padding-top: 40px;
}

.popup-title {
    text-align: center;
    font-size: 18px;
}

.lego-heads::after {
    content: "";
    clear: both;
    display: table;
}

#year-chart {
    padding-top: 30px;
    padding-bottom: 10px;
}

th.des:after {
    /* up */
    content: "\2191";
}

th.asc:after {
    /* down */
    content: "\2193";
}

tr{
    background-color: #FFE330;

}
